.cont{
    text-align: center;
    background: rgb(30, 44, 88);
    padding: 5px 50px 5px 50px;
    margin: 50px;

}
button{
    background: #069;
    color: white;
    font-size: 20px;
    padding: 8px 20px ;
    cursor: pointer;
    border: 0;
}